[submodule "Drivers/FreeRTOS-LTS"]
	path = Drivers/FreeRTOS-LTS
	url = git@github.com:FreeRTOS/FreeRTOS-LTS.git
[submodule "Drivers/lvgl"]
	path = Drivers/lvgl
	url = git@github.com:Qu1ntessentiaL/lvgl.git
