[submodule "Drivers/FreeRTOS-LTS"]
	path = Drivers/FreeRTOS-LTS
	url = https://github.com/FreeRTOS/FreeRTOS-LTS.git
[submodule "Drivers/lvgl"]
	path = Drivers/lvgl
	url = https://github.com/lvgl/lvgl.git